body {
background-image: url("https://img5.goodfon.com/wallpaper/nbig/0/c9/capsules-pills-medicine.jpg");
background-size: cover;
}

.title {
font-weight:bold;
font-family: Tw Cen MT;
font-size: 45px;
text-align:center;
border-radius: 25px;
border: 2px solid black;
}

.divide {
font-color: black
}

.styling {
color: black;
position: absolute;
font-size: 22px;
}
